---
layout: page
title: Johan Sebastián Agudelo-Monsalve
---

<div>
<h1>Biografía</h1>
<br>
<p>Estudio Literatura en @eafit. Soy bibliotecario y gestor cultural de @biblioeafit.
Geek. Gamer. Bicicletero. Lector y escritor intentando ser editor.
</p>
<br>
<h2>Idiomas</h2>
<ul>
    <li>Español</li>
    <li>Inglés</li>
</ul>







</div>
