---
layout: page
title: Paula Andrea Galvis Jaramillo
---

<div>
<h1>Biografía</h1>
<br/>
<p>Paula es estudiante de doble titulación en Comunicación Social y Literatura de 
la Universidad EAFIT. Adicionalmente, se encuentra cursando la Maestría en Edición 
y Gestión de Proyectos Editoriales de la Universidad Internacional de Valencia. Ha publicado 
en el medio de comunicación universitaria Bitácora. </p>
<br>
<h2>Idiomas</h2>
<ul>
<li>Español</li>
<li>Inglés</li>
<li>Francés</li>
</ul>
<br>
</div>