---
layout: page
title: Camila Vélez-González
---

<div>
<h1>Biografía</h1>
<br/>
<p>
    Camila es estudiante de quinto semestre de Literatura en la Universidad EAFIT. Algunos de sus intereses son 
    el diseño gráfico, el deporte y la música. 
    </p>
<br>
<h2>Idiomas</h2>
<ul>
<li>Español</li>
<li>Inglés</li>
<li>Francés</li>
</ul>
<br>
</div>
