---
layout: page
Title: Santiago Bustos-Ayala
---

</div>
><h1>Biografia</h1>
<br>
<p>Santiago es un estudiante de literatura de la universidad Eafit.
Ha estado aprendiendo en los campos de la linguistica y la narracion para en un futuro
debutar como un novelista. </p>
<br> 
    <h2>Idiomas</h2>
    <ol>
    <li>Español</li>
    <li>Ingles </li>
    <li> </li>
    </ol>
</div>