---
layout: page
title: Cristian Suárez-Giraldo
---

<div>
<h1>Biografía</h1>
<br/>
<p>Cristian es magíster en Filosofía de la Universidad Pontificia Bolivariana. 
Ha sido profesor en los campos de hermenéutica, teoría y crítica literaria, 
de edición académica y digital. Actualmente es profesor del pregrado de 
literatura de la Universidad EAFIT y editor de la <i>Editorial EAFIT</i>. Además, 
se desempeña como editor de apoyo en temas de indexación y calidad para las 
publicaciones en la misma universidad.</p>
<br/>
<h2>Idiomas</h2>
<ul>
<li>Español</li>
<li>Inglés</li>
</ul>






</div>